.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--navbar-bg);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.cover {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}

.title {
  margin-bottom: 8px;
  font-size: 18px;
}

.title a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controlBtn {
  background-color: transparent;
  border: none;
  color: var(--color-text);
}

.controlBtn:hover {
  cursor: pointer;
}

.controlBtn:disabled {
  opacity: 0.3;
  cursor: default;
}

.track {
  display: flex;
  align-items: center;
  gap: 8px;
}

.time {
  color: var(--color-text);
}

.volume {
}

.slider {
  width: 500px;
}

.sliderBackground {
}

.sliderFill {
}

.sliderThumb {
}

.volumeBox {
  position: relative;
  display: flex;
  align-items: center;
}

.volumeLabel {
  display: inline-block;
  width: 55px;
  text-align: center;
}
