.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 130px;
  background-color: var(--navbar-bg);
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controlBtn {
  background-color: transparent;
  border: none;
  color: var(--color-text);
}

.controlBtn:hover {
  cursor: pointer;
}

.controlBtn:disabled {
  opacity: 0.3;
  cursor: default;
}

.track {
  display: flex;
  align-items: center;
  gap: 8px;
}

.time {
  color: var(--color-text);
}

.volume {
}

.slider {
  width: 500px;
}

.sliderBackground {
}

.sliderFill {
}

.sliderThumb {
}
